@import "tailwindcss";

:root {
  --background: #F0F0f0;
  --element: #F8FAF8;
  --black-green: #1F2A24;
  --dark-green: #132A13;
  --check-green: #31572C;
  --gray: #474747;
  --light-gray: #A8A8A8;
  --gold: #FEF7A5;
  --gold-hover: #ebdb2e;
  --background-footer: #0D100D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
