.item {
    width: 100%;
    min-height: 64px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 24px;
    border-radius: 15px;
    font-size: 20px;
    font-family: var(--font-inter);
    font-weight: 500;
    color: var(--element);
    transition: background-color 0.3s ease, transform 0.3s ease;

    span {
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &:hover {
        transform: translateX(4px);
    }
}

.item.active {
    background-color: var(--background-section);
}
