.stroke{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10 0;
    border-top: 1px solid var(--light-gray); 
}



.left {
    display: flex;
    align-items: center;
    gap: 10px;
    .info {
        display: flex;
        flex-direction: column;
        span {
            color: var(--dark-green);
            font-size: 20px;
        }
    }
}

.right {
    
    a {
        border-radius: 10px;
        padding: 10 14;
        font: {
            family: var(--font-inter);
            weight: 500;
            size: 18px;
        }
    }

    .good{
        background-color: var(--light-green);
        color: var(--check-green);
    }

    .risk{
        background: #fef9c3;
        color: #854d0e;
    }
    
    .problem{
        background: #fee2e2;
        color: #b91c1c;
    }
}