.about {
    display: flex;
    flex-direction: column;
    padding-inline: 60px;
    padding-top: 170px;
    margin-bottom: 180px;
}

.about h1 {
    font-family: var(--font-inter);
    font-size: 96px;
    font-weight: 700;
    color: var(--dark-green);
}

.about span {
    margin-top: 32px;
    color: var(--gray);
    font-family: var(--font-inter);
    font-weight: 600;
    margin-left: 15px;
    font-size: 48px;
}

.cards {
    margin-top: 60px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mission {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mission h1 {
    font-family: var(--font-inter);
    font-size: 96px;
    font-weight: 700;
    color: var(--dark-green);
}

.mission p {
    font-family: var(--font-inter);
    font-size: 36px;
    font-weight: 400;
    color: var(--gray);
}


