.image {
    border-radius: 0 0 75px 75px;
}

.container {
    position: relative;
    min-height: 100vh;
}

.content {
    position: relative;
    z-index: 1;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
}

.textblock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    color: var(--gold);
}

.textblock h3 {
    font-family: var(--font-inter);
    font-size: 58px;
    margin-bottom: 15px;
    font-weight: 800;
    margin-right: 15px;
    margin-bottom: 0;
}

.textblock h1 {
    font-family: var(--font-sourceSerif);
    font-size: 218px;
    font-weight: 900;
    line-height: 230px;
    margin: 0;
}

.textblock p {
    margin-top: 40px;
    font-family: var(--font-inter);
    font-size: 34px;
    font-weight: 300;
}

.textblock button {
    margin-top: 34px;
    font-size: 28px;
    font-weight: 400;

    padding: 16px 52px;
    border-radius: 50px;
    border: 3px solid var(--gold);

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    cursor: pointer;
}

