.block {
    margin-top: 20px;
    width: 100%;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    padding: 20px 20px;

    h3{
        margin-top: 10px;
        margin-bottom: 16px;
        color: var(--dark-green);
        font: {
            family: var(--font-inter);
            weight: 500;
            size: 24px;
        }
    }

    span {
        color: var(--dark-green);
        font: {
            family: var(--font-inter);
            weight: 700;
            size: 50px;
        } 
    }
}

.icon {
    height: 60px;
    width: 60px;
    background: var(--light-green);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}