.header {
    margin-top: 40px;
    margin-inline: 60px;
    border-radius: 50px;
    border: 1px solid var(--element);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-family: var(--font-inter);
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    height: 60px;
    overflow: hidden;

    .side {
        display: flex;
        align-items: stretch;
        height: 100%;
    }

    .logo {
        padding-right: 7px;
        color: var(--element);
        border-radius: 50px;
        border: 1px solid var(--element);

        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .button {
        padding: 0 30px;
        color: white;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        border: 1px solid var(--element);
        border-radius: 50px;

        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(3px);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

        transition: background 0.3s ease-in-out, background-color 0.3s ease-in-out;

        &:hover {
            background: var(--element);
            color: var(--dark-green);
        }

        &.active {
            background: var(--element);
            backdrop-filter: none;
            color: var(--dark-green);
            border-radius: 50px;
        }
    }
}